
.about-main {
margin: auto;
    width: 600px;
    
    padding: 20px;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    margin: auto;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}

.footer {

    width: 100%;
    font-size: small;
    padding: 10px;
    text-align: center;
    background: #ddd;
    
}

.about-side {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.about-side a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.about-side a.active {
    background-color: #4caf50;
    color: white;
}

.about-side a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1x 16px;
    height: 500px;
}