* {
    box-sizing: border-box;
}
.main {
    padding-left: 50px;
}
input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: aquamarine;
}

.container {
    width: 600px;
    margin: auto;
    border-radius: 5px;
    background-color: #d6d0d0;
    padding: 20px;
}
.footer {

    width: 100%;
    font-size: small;
    padding: 10px;
    text-align: center;
    background: #ddd;
    
}
